/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 990px) {

  .wow {
    visibility: visible !important;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }

  .no-pad {
    padding: 0 10px;
  }

  .footer {
    .no-pad {
      padding: 0;
    }
  }

  .container-fluid {
    padding: 0;
  }

  section .container, .footer .container {
    padding: 0 44px;
  }

  .our-ambition {
    min-height: 970px;
    background-image: url(../images/our-ambition-bg-mob.jpg);

    .big-text {
      margin-top: 55px;
      span {
        background: none;
      }
    }
    .sm-text {
        margin-top: 38px;
        p {
          width: 290px;
        }
    }
  }

  .diagram__item-1, .diagram__item-2, .diagram__item-3, .diagram__item-4, .diagram__item-5,
  .line-1, .line-2 {
    display: none;
  }

  .diagram {
    min-height: 419px;
    position: static;

    // Icons
    &__icon-1 {
      position: absolute;
      top: auto;
      bottom: 42px;
      left: 23px;
      width: 100px;
      height: 100px;
      background-image: url(../images/diagram-icon-1-mob.png);
    }
    &__icon-2 {
      position: absolute;
      top: auto;
      left: 157px;
      bottom: 120px;
      width: 120px;
      height: 120px;
      background-image: url(../images/diagram-icon-2-mob.png);
    }
    &__icon-3 {
      position: absolute;
      top: auto;
      bottom: 200px; 
      left: 291px; 
      width: 144px;
      height: 144px;
      background-image: url(../images/diagram-icon-3-mob.png);
    }
    &__icon-4 {
      position: absolute;
      top: auto;
      left: 458px;
      bottom: 299px;
      width: 180px;
      height: 180px;
      background-image: url(../images/diagram-icon-4-mob.png);
    }
  }


  .logo {
    margin: 8px 0;
    img {
      width: 120px;
    }
  }

  .why {
    padding-bottom: 30px;
    .text-center {
      text-align: left ;
    }
    &__item {
      padding-left: 0;
    }
  }

  .about-us {
    background-image: url(../images/abou-us-bg-mob.jpg);
    .container {
      padding: 17px 44px 65px;
      background: none;
      color: #fff;
      h2 {
        color: #fff;
      }
    }
  }

  .try-now {
    padding: 40px 0 50px;
    .text-right {
      text-align: left;
    }
    .blue-btn {
      margin-top: 45px;
    }
  }

  .products {
    background-image: url(../images/products-bg-mob.jpg);

    &__item {
      min-height: 0;
      margin-bottom: 65px;
      p {
        min-height: 0;
      }
    }
    padding-top: 20px;
    & [class^="col-"]:nth-child(2n) &__item {
      padding-left: 0;
    }

    .btn-prod {
      margin-top:20px;
      padding: 12px 32px;
      background: $blue-color;
      color: #fff;
      i {
        display: none;
      }
    }

    & [class^="col-"] {
      padding: 0 10px;
    }
  }

  .partners {
    padding-top: 7px;
    padding-bottom: 45px;
  }

  .our-team {
    background-image: url(../images/our-team-bg-mob.jpg);
    background-size: cover;
    .white-btn {
      margin-top: 185px;
      padding: 14px 15px;
    }
    &__item {
      min-height: 305px
    }
  }

  .footer {
    padding-top: 36px;
    &__nav {
      padding-bottom: 30px;
      ul {
        li {
          width: 33.33333333%;
          float: left;
          a {
            padding: 7px 10px;
          }
        }
      }
    }
  }

  .page .container {
    max-width: 100%;
  }

  .footer .container, header .container {
    padding: 0 18px;
  }

  // Page feedback-form
  .page-feedback-form {
    padding: 30px 10px 50px;
    background-position: top left;
    .container {
      padding: 0 10px;
      box-sizing: border-box;
    }
    .message {
      font-size: inherit;
      margin-top: 35px;
      color: #000;
      span {
        color: $blue-color;
      }
    }
  }

  .form-contacts {
      padding: 40px 30px;
  }

  .form-contacts [type="checkbox"]:not(:checked) + label, .form-contacts [type="checkbox"]:checked + label {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .form-contacts textarea {
    margin-bottom: 28px;
  }
  
  // Page contacts
  .page-contacts {
    padding: 50px 0;
    background-image: url(../images/pages/page-contacts-bg-768.png);
    background-position: top left;
    background-size: inherit;

    &__text {
      padding-left: 40px;
    }

    .h1 {
      padding-left: 30px;
    }

    .message {
      color: #000;
      margin-top: 33px;
    }  

    .blue-btn {
      margin-top: 0;
    }
  }

  .page-product {
    &__img {
      float: none;
    }
  }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

  section .container, .footer .container {
    max-width: 600px;
    padding: 0 18px;
  }

  .our-ambition {
    min-height: 1000px;
    background-image: url(../images/our-ambition-bg-mob-600.jpg);

    .big-text {
      margin-top: 68px;
      span {
      }
    }
    .sm-text {
      p {
        width: 275px;
      }
    }
  }

  .diagram {
    min-height: 419px;

    // Icons
    &__icon-1 {
      bottom: 92px;
      left: 10px;
      width: 78px;
      height: 78px;
      background-size: 100% 100%;
    }
    &__icon-2 {
      left: 110px;
      bottom: 154px;
      width: 95px;
      height: 95px;
      background-size: 100% 100%;
    }
    &__icon-3 {
      bottom: 217px;
      left: 223px; 
      width: 109px;
      height: 110px;
      background-size: 100% 100%;
    }
    &__icon-4 {
      left: 340px;
      bottom: 282px;
      width: 164px;
      height: 164px;
      background-size: 100% 100%;
    }
  }

  .partners {
    img {
      max-width: 100%;
    }
  }

  // Page contacts
  .page-contacts {
    padding: 37px 0 50px;
    .container {
      padding: 0 18px;
    }
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 599px) {

  section .container, .footer .container, header .container {
    max-width: 480px;
  }

  .about-us .container {
    padding: 17px 15px 65px;
  }

  .mobile-menu-tog {
    margin-right: -15px;
  }

  .our-ambition {
    min-height: 745px;
    background-image: url(../images/our-ambition-bg-mob-480.jpg);

    .big-text {
      margin-top: 34px;
      span {
      }
    }
    .sm-text {
      margin-top: 30px;
      color: #00ace0;
      p {
        width: 275px;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  .diagram {
    min-height: 370px;

    // Icons
    &__icon-1 {
      bottom: 90px;
      left: 10px;
    }
    &__icon-2 {
      left: 91px;
      bottom: 137px;
    }
    &__icon-3 {
      bottom: 192px;
      left: 185px;
    }
    &__icon-4 {
      left: 284px;
      bottom: 245px;
    }
  }

  .products [class^="col-"] {
    padding: 0 10px;
  }

  // Page feedback-form
  .page-feedback-form {
    background-image: url(../images/pages/page-feedback-form-bg-480.jpg);
    h1 {
      padding-left: 30px;
    }
    padding: 30px 0 50px;
    .container {
      padding: 0;
    }
    .message {
      margin-top: 16px;
      padding-left: 55px;
      text-align: left;
    }
  }

  // Page contacts
  .page-contacts {
    padding: 37px 0 0;
    background-position: left -223px;
    overflow: hidden;
    .container {
      padding: 0;
    }

    .message {
      text-align: left;
      padding-left: 70px;
      margin-top: 16px;
      span {
        display: inline-block;
        margin-left: -8px;
      }
    }
  }

}

@media only screen and (max-width : 479px) {

  section .container, .footer .container, header .container {
    max-width: 320px;
  }

  .our-ambition {
    min-height: 457px;
    background-image: url(../images/our-ambition-bg-mob-320.jpg);

    .big-text {
      margin-top: 34px;
      font-size: 2.625em;
      line-height: 48px;
      span {
      }
    }
    .sm-text {
      margin-top: 30px;
      color: #00ace0;
      font-size: 1.125em;
      p {
        width: 210px;
      }
    }
  }

  .diagram {
    min-height: 160px;
    // Icons
    &__icon-1 {
      bottom: 52px;
      left: 5px;
      width: 52px;
      height: 52px;
      background-image: url(../images/diagram-icon-1-mob-320.png);
    }
    &__icon-2 {
      left: 69px;
      bottom: 41px;
      width: 75px;
      height: 75px;
      background-image: url(../images/diagram-icon-2-mob-320.png);
    }
    &__icon-3 {
      bottom: 52px; 
      left: 164px; 
      width: 52px;
      height: 52px;
      background-image: url(../images/diagram-icon-3-mob-320.png);
    }
    &__icon-4 {
      left: 231px;
      bottom: 52px;
      width: 52px;
      height: 52px;
      background-image: url(../images/diagram-icon-4-mob-320.png);
    }
  }

  .footer {

    &__contact {
      width: 100%;
      font-size: 1.250em;
    }

    &__logo {
      display: none;
    }

    &__nav ul li {
      width: 50%;
      a {
        padding: 7px 9px;
      }
    }
  }

  .our-team {
    min-height: 1160px;
    & [class^="col-"] {
      width: 100%;
    }
    h2 {
      margin-bottom: 10px;
      margin-top: 40px;
    }
    &__item {
      min-height: 0;
      &-img{
        display: none;
      }
      h3 {
        font-size: 1.250em;
        margin-bottom: 0;
      }
      p {
        margin-top: 5px;
      }
    }

    &__call {
      width: 100%;
      .white-btn{
        margin-top: 20px;
        margin-bottom: 50px;
      }
    }
  }

  .partners {
    & [class^="col-"] {
      width: 50%;
    }
  }

  .products {
    font-size: 0.875em;
  }

  .try-now {
    &__text {
      font-size: 1.500em;
    }
  } 

  .blue-btn {
    width: 100%;
    text-align: center;
  }

  .about-us {
    font-size: 0.875em;
    .container {
        padding: 17px 15px 45px;
    }
  }

  .why {
    font-size: 0.875em;
  }

   // Page feedback-form
  .page-feedback-form {
    padding: 30px 0 0;

    h1 {
      padding-left: 18px;
      line-height: 38px;
    }
    .hidden-xs {
      display: block !important;
    }

    .container {
      width: 100%;
      max-width: 100%;
      overflow: hidden;
    }
    .message {
      margin-top: -10px;
      padding-left: 19px;
      text-align: left;
      color: #fff;
      font-size: 0.750em;
      margin-bottom: 20px;
    }
    .form-contacts {
      padding: 40px 18px;
      & [class^="col-"] {
        width: 100%;
      }

      .text-right {
        display: none;
      }
    }
  }

  // Page contacts
  .page-contacts {
    background-position: left -290px;
    .h1 {
      padding: 0 18px;
      margin-bottom: 5px;
      line-height: 42px;
    }
    &__text {
      padding: 0 28px;
    }

    .form-contacts {
      padding: 40px 18px;
      .col-xs-6 {
        width: 100%;
      }
      .text-right {
        display: none;
      }
    }

    .desk-hide {
      display: block;
      font-size: 0.750em;
      text-align: left;
      padding: 0 28px;
      margin-top: 5px;
      margin-bottom: 20px;
    } 
    
  }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .page-feedback-form {
    min-height: 650px;
  }
}