/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

  .wow {
    visibility: visible !important;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }

  .no-pad {
    padding: 0 10px;
  }

  .container-fluid {
    padding: 0;
  }

  section .container, .footer .container {
    padding: 0 44px;
  }

  .our-ambition {
    min-height: 970px;
    background-image: url(../images/our-ambition-bg-mob.jpg);

    .big-text {
      margin-top: 55px;
      span {
        background: none;
      }
    }
    .sm-text {
        margin-top: 38px;
        p {
          width: 290px;
        }
    }
  }

  .diagram__item-1, .diagram__item-2, .diagram__item-3, .diagram__item-4, .diagram__item-5,
  .line-1, .line-2 {
    display: none;
  }

  .diagram {
    min-height: 419px;
    position: static;

    // Icons
    &__icon-1 {
      position: absolute;
      top: auto;
      bottom: 42px;
      left: 23px;
      width: 100px;
      height: 100px;
      background-image: url(../images/diagram-icon-1-mob.png);
    }
    &__icon-2 {
      position: absolute;
      top: auto;
      left: 157px;
      bottom: 120px;
      width: 120px;
      height: 120px;
      background-image: url(../images/diagram-icon-2-mob.png);
    }
    &__icon-3 {
      position: absolute;
      top: auto;
      bottom: 200px; 
      left: 291px; 
      width: 144px;
      height: 144px;
      background-image: url(../images/diagram-icon-3-mob.png);
    }
    &__icon-4 {
      position: absolute;
      top: auto;
      left: 458px;
      bottom: 299px;
      width: 180px;
      height: 180px;
      background-image: url(../images/diagram-icon-4-mob.png);
    }
  }


  .logo {
    margin: 8px 0;
    img {
      width: 120px;
    }
  }

  .why {
    padding-bottom: 30px;
    .text-center {
      text-align: left ;
    }
    &__item {
      padding-left: 0;
    }
  }

  .about-us {
    background-image: url(../images/abou-us-bg-mob.jpg);
    .container {
      padding: 17px 44px 65px;
      background: none;
      color: #fff;
      h2 {
        color: #fff;
      }
    }
  }

  .try-now {
    padding: 40px 0 50px;
    .text-right {
      text-align: left;
    }
    .blue-btn {
      margin-top: 45px;
    }
  }

  .products {
    background-image: url(../images/products-bg-mob.jpg);

    &__item {
      min-height: 0;
      margin-bottom: 65px;
      p {
        min-height: 0;
      }
    }
    padding-top: 20px;
    & [class^="col-"]:nth-child(2n) &__item {
      padding-left: 0;
    }

    .btn-prod {
      margin-top:20px;
      padding: 12px 32px;
      background: $blue-color;
      color: #fff;
      i {
        display: none;
      }
    }
  }

  .partners {
    padding-top: 7px;
    padding-bottom: 45px;
  }

  .our-team {
    background-image: url(../images/our-team-bg-mob.jpg);
    background-size: cover;
    .white-btn {
      margin-top: 185px;
    }
    &__item {
      min-height: 295px;
  }
  }

  .footer {
    padding-top: 36px;
    &__nav {
      padding-bottom: 30px;
      ul {
        li {
          width: 33.33333333%;
          float: left;
          a {
            padding: 7px 10px;
          }
        }
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  section .container, .footer .container {
    max-width: 600px;
    padding: 0 38px;
  }

  .our-ambition {
    min-height: 1000px;
    background-image: url(../images/our-ambition-bg-mob-600.jpg);

    .big-text {
      margin-top: 68px;
      span {
      }
    }
    .sm-text {
      p {
        width: 275px;
      }
    }
  }

  .diagram {
    min-height: 419px;

    // Icons
    &__icon-1 {
      bottom: 92px;
      left: 10px;
      width: 78px;
      height: 78px;
      background-size: 100% 100%;
    }
    &__icon-2 {
      left: 110px;
      bottom: 154px;
      width: 95px;
      height: 95px;
      background-size: 100% 100%;
    }
    &__icon-3 {
      bottom: 217px;
      left: 223px; 
      width: 109px;
      height: 110px;
      background-size: 100% 100%;
    }
    &__icon-4 {
      left: 340px;
      bottom: 282px;
      width: 164px;
      height: 164px;
      background-size: 100% 100%;
    }
  }

  .partners {
    img {
      max-width: 100%;
    }
  }


}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 600px) {

  section .container, .footer .container, header .container {
    max-width: 480px;
    padding: 0 15px;
  }

  .mobile-menu-tog {
    margin-right: -15px;
  }

  .our-ambition {
    min-height: 745px;
    background-image: url(../images/our-ambition-bg-mob-480.jpg);

    .big-text {
      margin-top: 34px;
      span {
      }
    }
    .sm-text {
      margin-top: 30px;
      color: #00ace0;
      p {
        width: 275px;
            margin-top: 0;
    margin-bottom: 0;
      }
    }
  }

  .diagram {
    min-height: 370px;

    // Icons
    &__icon-1 {
      bottom: 90px;
      left: 10px;
    }
    &__icon-2 {
      left: 91px;
      bottom: 137px;
    }
    &__icon-3 {
      bottom: 192px;
      left: 185px;
    }
    &__icon-4 {
      left: 284px;
      bottom: 245px;
    }
  }

}

@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}