.page-prod-aqua {
	background-color: $bg-product-aqua; 
	background-image: url(../images/pages/page-product-aqua-bg.png);
	background-position: left top;
	background-repeat: no-repeat;
	padding: 80px 10px 0;
	color: #000;

	h1 {
		color: #0095d6;
		text-transform: uppercase;
		margin-bottom: 20px;
		b {
			font-family: "RobotoBold";
		}
	}

	&__img {
		
		img {
			width: 175px;
			margin-right: -8px;
		}
	}

	&__content {
		background-color: #FFF;
		padding: 40px;
		margin: 0;

		p {
			line-height: 18px;
			width: 113%;
		}

		&-img {
			width: 100%;
			max-width: 100%;
			margin-top: -10px;
			position: relative;
    		right: -35px;
		}
	}

	&__img-bot {
		margin-top: 100px;
		img {
			width: 217px;
		}
	}
}