 .page-osa {
 	ul {
		li {
			margin-bottom: 5px;
			line-height: 22px;
			padding-top: 1px;
		}
	}
 }

 .osa-top-section {
 	background-color: $bg-gray;
 	background-image: url(../images/pages/page-osa-top-section-bg.png);
 	background-position: left top;
 	background-repeat: no-repeat;
	padding-top:80px;
	padding-bottom: 60px;
	color: #000;

	h1 {
		color: #009ad4;
		text-transform: uppercase;
		margin-bottom: 15px;
	}

 	&-img {
		width: 220px;
		margin-top: -10px;
 	}

 	b {
 		font-family: "RobotoBold";
 	}
}

.osa_bold {
	font-family: "RobotoBold";
	font-size: 1.250em;
}

.num {
	font-family: "RobotoBold";
	font-size: 1.500em;
	display: inline-block;
    margin-top: -9px;
}

ol {
	list-style-type: none;
	padding-left: 22px;
	li {
		margin-bottom: 15px;
		span {
			display: inline-block;
		    margin-left: -22px;
		    width: 22px;
		    color: #009ad4;
		    font-family: "RobotoBold";
		}
	}
}

.objective-project {
	background-color: $main-color;
	background-image: url(../images/pages/page-osa-objective-project-bg.png);
	background-position: right top;
	background-repeat: no-repeat;
	color: #fff;
	padding-top: 15px;
	padding-bottom: 30px;
}

.analysis-strategy {
	background-color: #009ad4;
	background-image: url(../images/pages/page-osa-analysis-strategy-bg.png);
	background-position: center top;
	background-size: cover;
	color: #fff;
	padding-bottom: 50px;

	h2, .h2 {
		margin-top: 56px;
	}
}

.how-does-platform {
	background-color: $bg-gray;
	background-image: url(../images/pages/page-osa-how-does-platform-bg.png);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px 0 85px;
}

.scheme {
	position: relative;

	img {
		width: 100%;
	}

	.arrow-1 {
		position: absolute;
		top: 82px;
		left: 141px;
		width: 120px; //120px
		height: 13px;
		background-image: url(../images/scheme/arrow-0.png);
		background-repeat: no-repeat;
		span {
			position: absolute;
			top: -18px;
		    left: 36px;
		    width: 50px;
		    height: 50px;
			background-image: url(../images/scheme/mini-icon-1.png);
			background-color: $bg-gray;
			background-repeat: no-repeat;
		}

	}

	.arrow-2 {
		position: absolute;
		top: 82px;
		left: 404px;
		width: 120px; //120px
		height: 13px;
		background-image: url(../images/scheme/arrow-0.png);
		background-repeat: no-repeat;
		span {
			position: absolute;
			top: -18px;
		    left: 36px;
			width: 50px;
			height: 50px;
			background-image: url(../images/scheme/mini-icon-2.png);
			background-color: $bg-gray;
			background-repeat: no-repeat;
		}
	}

	.arrow-3 {
		position: absolute;
		top: 82px;
		left: 666px;
		width: 120px; //120px
		height: 13px;
		background-image: url(../images/scheme/arrow-0.png);
		background-repeat: no-repeat;
	}

	.arrow-4-1 {
		position: absolute;
	    top: 150px;
	    left: 795px;
	    width: 43px;
	    height: 66px; //66px
	    background-image: url(../images/scheme/arrow-2-1.png);
	    background-repeat: no-repeat;
	}

	.arrow-4-2 {
		position: absolute;
	    top: 150px;
	    left: 886px;
	    width: 43px;
	    height: 66px; //66px
	    background-image: url(../images/scheme/arrow-2-2.png);
	    background-repeat: no-repeat;
	}

	.arrow-5 {
		position: absolute;
	    top: 326px;
	    right: 337px;
	    width: 285px;
	    height: 54px;
	    background-image: url(../images/scheme/arrow-3.png);
	    background-repeat: no-repeat;
	    
	}

	.arrow-6 {
		position: absolute;
	    top: 256px;
	    left: 72px;
	    width: 196px;
	    height: 123px;
	    background-image: url(../images/scheme/arrow-4.png);
	    background-repeat: no-repeat;
	}

	.scheme-text {
		position: absolute;
		text-align: center;
		font-weight: bold;
		line-height: 20px;
	}

	.scheme-text-1{
		@extend .scheme-text;
		top: 176px;
    	left: 21px;
	}
	.scheme-text-2{
		@extend .scheme-text;
		top: 176px;
    	left: 250px;
    	width: 175px;
	}
	.scheme-text-3{
		@extend .scheme-text;
		top: 176px;
    	left: 512px;
    	width: 170px;
	}
	.scheme-text-4{
		@extend .scheme-text;
		top: -80px;
	    left: 785px;
	    width: 150px;
	}
	.scheme-text-5-a{
		@extend .scheme-text;
		bottom: 35px;
    	right: 11px;
    	width: 125px;
	}
	.scheme-text-5-b{
		@extend .scheme-text;
		bottom: 15px;
    	right: 224px;
    	width: 122px;
	}
	.scheme-text-6{
		@extend .scheme-text;
		bottom: -58px;
    	left: 222px;
    	width: 235px;
	}
}